<header class="bg-bg-portfolio-darker">
  <nav class="flex">
    <figure class="logo lg:p-3">
      <img src="../../../assets/icon-96.png" alt="" />
    </figure>

    <a class="nav-items" href="">
      <span>Inicio</span>
    </a>

    <a class="nav-items" href="">
      <span>Sobre mim</span>
    </a>
    <a class="nav-items" href="">
      <span>Projetos</span>
    </a>
    <a class="nav-items" href="">
      <span>Experiencias</span>
    </a>
    <a class="nav-items" href="">
      <span>Contato</span>
    </a>
    <a class="nav-items" href="../../../assets/Curriculum.docx" download>
      <span>Baixar CV</span>
    </a>
  </nav>
</header>
