<header class="bg-bg-portfolio-darker">
    <nav class="flex">
        <figure class="logo">
            <img src="#" alt=""> logo
        </figure>

        <a class="nav-items" href="">

            <span >Inicio</span>
        </a>

        <a class="nav-items" href="">

            <span >Sobre mim</span>
        </a>
        <a class="nav-items" href="">

            <span >Projetos</span>
        </a>
        <a class="nav-items" href="">

            <span >Experiencias</span>
        </a>
        <a class="nav-items" href="">
            
            <span >Contato</span>
        </a>
        <a class="nav-items" href="">

            <span >Baixar CV</span>
        </a>

    </nav>
</header>